* {
    margin: 0;
}
html, body {
    height: 100%;
    margin-top: 0;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}
form {
    /*margin-bottom: 2em;
    margin-left: 2em; change this part to custom form class*/
}
ul {
    list-style-type: none;
}
input [type="radio"]{
    margin-right: 20px;
}
li{
    list-style-type: none;
}
.title-bar {
    background: #333;
    padding: 0.9rem; }

.top-bar{
    background: #333; }
.top-bar ul {
    background: #333; }
.top-bar ul li {
    background: #333; }
.top-bar ul li a {
    color: #fff; }

.menu-text {
    color: #fff; }
@media only screen and (max-width: 40em) {
    .menu-text {
        display: none !important; } }

@media only screen and (min-width: 40em) {
    .top-bar .menu:last-child {
        border-left: 1px solid #4e4e4e; }

    .top-bar .menu:first-child {
        border-left: none; }

    .top-bar .menu li:not(:last-child) {
        border-right: 1px solid #4e4e4e; } }
.dropdown.menu .submenu {
    border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
    border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
    border-color: transparent #fff transparent transparent; }

.fi-shopping-cart {
    color: #fff;
}
.main-title {
    font-family: 'Comfortaa', serif;
    font-size: 25px;
}
.log-in-form {
    margin-top:5rem;
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 3px; 
}

.project-header{
    margin-bottom: 2em;
}
.panel {
    border-style: solid;
    border-width:0;
    border-color: #d9d9d9;
    margin-bottom: 1.25em;
    padding:1.25em;
    background: #f2f2f2;
}
.side-nav{
    display: block;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0.77778rem 0;
}
.divider{
    border-top: 1px solid;
    margin: 0px 0px 10px 0px;
}
.error{
    display: block;
    font-size: 0.66667rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.88889rem;
    margin-top: -1rem;
    padding: 0.33333rem 0.5rem 0.5rem;
    background: #f04124;
    color: #FFFFFF; 
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.top-bar-right .button{
    width: 100%;
    display: block;
}
.dropdown.menu .submenu.first-sub{
    margin-top: 4px;
    left: auto;
    right: 0;
}
.centered-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px
}
.dat-spinning:hover{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 40000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 40000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 40000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform:rotate(0deg);
    }

    to {
        -webkit-transform:rotate(360deg);
    }
}

.prefix{
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.77778rem;
    height: 2.05556rem;
    line-height: 2.05556rem;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
    background: #f2f2f2;
    border-right: none;
    color: #333333;
    border-color: #cccccc;
}

.main-search{
    display: inline;
    width: auto;
    margin-left: 0.5rem;
}

.manual-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.11111rem;
    margin-right: 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
    font-size: 0.88889rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

.is-drilldown{
    overflow:visible !important;
    height:auto !important;
}
.js-drilldown-back::before{
    margin-top: 6px !important;
}
li .js-drilldown-back .top-bar ul li {
    background: #666;
}

.imageMax {
    max-height: 500px;
    max-width: 500px;
}

.red {
    color: #e60000;
}

.plainTable {
    margin: 0px;
    border: none;
    border-collapse: separate;
}

.noPadding {
    padding: 0px;
}

.noMargin {
    margin: 0px;
}

.smallBook {
    max-height: 150px;
    max-width: 150px;
}

.ui-growl {
    top: 75px;
}