* {
    margin: 0;
}
html, body {
    height: 100%;
    margin-top: 0;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}
form {
    margin-bottom: 2em;
    /*margin-left: 2em; needed to align forms on book page*/
}
ul {
    list-style-type: none;
}
input [type="radio"]{
    margin-right: 20px;
}
li{
    list-style-type: none;
}
.title-bar {
    background: #333;
    padding: 0.9rem; }

.top-bar{
    background: #333; }
.top-bar ul {
    background: #333; }
.top-bar ul li {
    background: #333; }
.top-bar ul li a {
    color: #fff; }

.menu-text {
    color: #fff; }
@media only screen and (max-width: 40em) {
    .menu-text {
        display: none !important; } }

@media only screen and (min-width: 40em) {
    .top-bar .menu:last-child {
        border-left: 1px solid #4e4e4e; }

    .top-bar .menu:first-child {
        border-left: none; }

    .top-bar .menu li:not(:last-child) {
        border-right: 1px solid #4e4e4e; } }
.dropdown.menu .submenu {
    border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
    border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
    border-color: transparent #fff transparent transparent; }

.fi-shopping-cart {

    color: #fff;

}
.main-title {

    font-family: 'Comfortaa', serif;
    font-size: 25px;
}
.log-in-form {
    margin-top:5rem;
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 3px; 
}

.project-header{
    margin-bottom: 2em;
}
.panel {
    border-style: solid;
    border-width:0;
    border-color: #d9d9d9;
    margin-bottom: 1.25em;
    padding:1.25em;
    background: #f2f2f2;
}
.side-nav{
    display: block;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0.77778rem 0;
}
.divider{
    border-top: 1px solid;
    margin: 0px 0px 10px 0px;
}
